.hero-section {
  position: relative;
  overflow: hidden;
}

.hs-text h2 {
  font-size: 48px;
  font-weight: bold;
}

.hs-text span {
  color: orange;
}

.hs-text .container p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}


.site-btn {
  background-color: orange;
  color: black;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
